* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#image-container div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

img {
  height: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  scale: 1.1;
  margin: 10px;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

img:hover {
  scale: 0.9;
}
